@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #1d1d1f;
  font-family: Roboto;
  font-size: 14px;
}

span,
button {
  cursor: pointer;
}
